$primary-color:rgb(81, 150, 44);
$primary-color-transparent: rgba(81, 150, 44, 0.5);

$light-background-color:#F8F4EB; 

$medium-background-color:rgb(214, 217, 196);
$medium-background-color-transparent:rgba(214, 217, 196, 0.5);

$text-color-header-footer:white;